{% extends 'base.html' %}

{% block content %}
	<div class='home'>
		<h1>Get Recommendation by your Machine Mate!</h1>
		<div class='home_detail'>
			<h2>Click 'About' to see description for this website.</h2>
			<h2>Click 'Search' to search movie.</h2>
			<h2>Click 'Recommendation' to get recommendation by machine.</h2>
			<br><br>
			<h2>+ Features</h2>
			<h3>Whitespace Correction by CRF</h2>
			<h3>Recommendation by Textrank, TF-IDF, K-Means</h2>
			<h3>Review Sentiment by Ensemble model of CharCNN + Bi-LSTM</h3>
			<br><br>
			<h4>( Optimized size : 1080x1020 )</h4>
			<h5>Created by Lee Jae Bin( jbose038 )</h5>
			<h5><a href='https://www.github.com/jbose038'>Github Repo</a></h5>
		</div>
	</div>
{% endblock %}