{% load static %}
<head>
	<title>MCM</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/navbar-top-fixed.css' %}">
<link rel='stylesheet' href="{% static 'css/mydesign.css' %}">

</head>

<body>
	<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
	  <a class="navbar-brand" href="{% url 'home'%}">Machine's Choice</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarCollapse">
	    <ul class="navbar-nav mr-auto">
	      	<li class="nav-item active">
	        	<a class="nav-link" href="{% url 'about' %}">About</a>
	      	</li>
	    	<li class="nav-item active">
	        	<a class="nav-link" href="{% url 'search' %}">Search</a>
	      	</li>
	      	<li class="nav-item active">
	        	<a class="nav-link" href="{% url 'recommend' %}">Recommendation</a>
	      	</li>

	  </div>
	</nav>
{% block content %}

{% endblock %}

</body>